In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline

In [ ]:
#need to make sure you keep all of your source data close at hand so you can cite your sources....

reading in my data on elections from 1976..each table represents data for the named elections from the years in the comments

In [4]:
#US House 1976-2018
house = pd.read_csv('../data/1976-2018-house3.csv')

In [5]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29636 entries, 0 to 29635
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            29636 non-null  int64
 1   state           29636 non-null  object
 2   state_po        29636 non-null  object
 3   state_fips      29636 non-null  int64
 4   state_cen       29636 non-null  int64
 5   state_ic        29636 non-null  int64
 6   office          29636 non-null  object
 7   district        29636 non-null  int64
 8   stage           29606 non-null  object
 9   runoff          20980 non-null  object
 10  special         29636 non-null  bool
 11  candidate       27516 non-null  object
 12  party           26214 non-null  object
 13  writein         29636 non-null  bool
 14  mode            29636 non-null  object
 15  candidatevotes  29636 non-null  int64
 16  totalvotes      29636 non-null  int64
 17  unofficial      29636 non-null  bool
 18  version         29636 non-null  int64
 19  fusion_ticket   29636 non-null  bool
dtypes: bool(4), int64(8), object(8)
memory usage: 3.7+ MB

In [10]:
house.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
0,1976,ALABAMA,AL,1,63,41,US HOUSE,1,gen,False,False,BILL DAVENPORT,DEMOCRAT,False,TOTAL,58906,157170,False,20201202,False
1,1976,ALABAMA,AL,1,63,41,US HOUSE,1,gen,False,False,JACK EDWARDS,REPUBLICAN,False,TOTAL,98257,157170,False,20201202,False
2,1976,ALABAMA,AL,1,63,41,US HOUSE,1,gen,False,False,NaN,NaN,True,TOTAL,7,157170,False,20201202,False
3,1976,ALABAMA,AL,1,63,41,US HOUSE,2,gen,False,False,J. CAROLE KEAHEY,DEMOCRAT,False,TOTAL,66288,156362,False,20201202,False
4,1976,ALABAMA,AL,1,63,41,US HOUSE,2,gen,False,False,NaN,NaN,True,TOTAL,5,156362,False,20201202,False

In [11]:
house.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
29631,2018,MARYLAND,MD,24,52,52,US HOUSE,7,gen,NaN,False,NaN,NaN,True,TOTAL,272,264710,False,20201202,False
29632,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,JAMIE RASKIN,DEMOCRAT,False,TOTAL,217679,319330,False,20201202,False
29633,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,JASEN WUNDER,LIBERTARIAN,False,TOTAL,4853,319330,False,20201202,False
29634,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,JOHN WALSH,REPUBLICAN,False,TOTAL,96525,319330,False,20201202,False
29635,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,NaN,NaN,True,TOTAL,273,319330,False,20201202,False

In [6]:
#US Senate 1976-2020
senate = pd.read_csv('../data/1976-2020-senate.csv')

In [7]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3629 entries, 0 to 3628
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              3629 non-null   int64
 1   state             3629 non-null   object
 2   state_po          3629 non-null   object
 3   state_fips        3629 non-null   int64
 4   state_cen         3629 non-null   int64
 5   state_ic          3629 non-null   int64
 6   office            3629 non-null   object
 7   district          3629 non-null   object
 8   stage             3629 non-null   object
 9   special           3629 non-null   bool
 10  candidate         3206 non-null   object
 11  party_detailed    3030 non-null   object
 12  writein           3629 non-null   bool
 13  mode              3629 non-null   object
 14  candidatevotes    3629 non-null   int64
 15  totalvotes        3629 non-null   int64
 16  unofficial        3629 non-null   bool
 17  version           3629 non-null   int64
 18  party_simplified  3629 non-null   object
dtypes: bool(3), int64(7), object(9)
memory usage: 464.4+ KB

In [8]:
senate.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party_detailed,writein,mode,candidatevotes,totalvotes,unofficial,version,party_simplified
0,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,SAM STEIGER,REPUBLICAN,False,total,321236,741210,False,20210114,REPUBLICAN
1,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,WM. MATHEWS FEIGHAN,INDEPENDENT,False,total,1565,741210,False,20210114,OTHER
2,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,DENNIS DECONCINI,DEMOCRAT,False,total,400334,741210,False,20210114,DEMOCRAT
3,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,ALLAN NORWITZ,LIBERTARIAN,False,total,7310,741210,False,20210114,LIBERTARIAN
4,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,BOB FIELD,INDEPENDENT,False,total,10765,741210,False,20210114,OTHER

In [9]:
senate.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party_detailed,writein,mode,candidatevotes,totalvotes,unofficial,version,party_simplified
3624,2020,WYOMING,WY,56,83,68,US SENATE,statewide,gen,False,UNDER VOTES,NaN,False,total,6401,278503,False,20210114,OTHER
3625,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,KELLY LOEFFLER,REPUBLICAN,False,total,2194848,4483294,True,20210114,REPUBLICAN
3626,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,RAPHAEL WARNOCK,DEMOCRAT,False,total,2288446,4483294,True,20210114,DEMOCRAT
3627,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,DAVID A. PERDUE,REPUBLICAN,False,total,2213979,4483241,True,20210114,REPUBLICAN
3628,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,JON OSSOFF,DEMOCRAT,False,total,2269262,4483241,True,20210114,DEMOCRAT

In [12]:
#US president 1976-2020
president = pd.read_csv('../data/1976-2020-president.csv')

In [15]:
president.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4287 entries, 0 to 4286
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              4287 non-null   int64
 1   state             4287 non-null   object
 2   state_po          4287 non-null   object
 3   state_fips        4287 non-null   int64
 4   state_cen         4287 non-null   int64
 5   state_ic          4287 non-null   int64
 6   office            4287 non-null   object
 7   candidate         4000 non-null   object
 8   party_detailed    3831 non-null   object
 9   writein           4284 non-null   object
 10  candidatevotes    4287 non-null   int64
 11  totalvotes        4287 non-null   int64
 12  version           4287 non-null   int64
 13  notes             0 non-null      float64
 14  party_simplified  4287 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 502.5+ KB

In [14]:
president.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [13]:
president.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
4282,2020,WYOMING,WY,56,83,68,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,20210113,NaN,LIBERTARIAN
4283,2020,WYOMING,WY,56,83,68,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,20210113,NaN,OTHER
4284,2020,WYOMING,WY,56,83,68,US PRESIDENT,NaN,NaN,True,1739,278503,20210113,NaN,OTHER
4285,2020,WYOMING,WY,56,83,68,US PRESIDENT,OVERVOTES,NaN,False,279,278503,20210113,NaN,OTHER
4286,2020,WYOMING,WY,56,83,68,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,20210113,NaN,OTHER

In [16]:
#county returns president 2000-2016
county_pres = pd.read_csv('../data/countypres_2000-2016.csv')

In [19]:
county_pres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50524 entries, 0 to 50523
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            50524 non-null  int64
 1   state           50524 non-null  object
 2   state_po        50460 non-null  object
 3   county          50524 non-null  object
 4   FIPS            50476 non-null  float64
 5   office          50524 non-null  object
 6   candidate       50524 non-null  object
 7   party           34735 non-null  object
 8   candidatevotes  50120 non-null  float64
 9   totalvotes      50524 non-null  int64
 10  version         50524 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.2+ MB

In [18]:
county_pres.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [17]:
county_pres.tail()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

reading in census data for elections by year

In [21]:
rss_2010 = pd.read_excel('../data/registration_race_sex_state_2010.xls')

In [23]:
#this is going to need some cleaning....cool.
rss_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 14 columns):
 #   Column                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                    --------------  -----
 0   Table 4b.  Reported Voting and Registration, by Sex, Race and Hispanic Origin, for States: November 2010  61 non-null     object
 1   Unnamed: 1                                                                                                572 non-null    object
 2   Unnamed: 2                                                                                                573 non-null    object
 3   Unnamed: 3                                                                                                573 non-null    object
 4   Unnamed: 4                                                                                                573 non-null    object
 5   Unnamed: 5                                                                                                573 non-null    object
 6   Unnamed: 6                                                                                                573 non-null    object
 7   Unnamed: 7                                                                                                573 non-null    object
 8   Unnamed: 8                                                                                                573 non-null    object
 9   Unnamed: 9                                                                                                573 non-null    object
 10  Unnamed: 10                                                                                               573 non-null    object
 11  Unnamed: 11                                                                                               573 non-null    object
 12  Unnamed: 12                                                                                               573 non-null    object
 13  Unnamed: 13                                                                                               573 non-null    object
dtypes: object(14)
memory usage: 64.0+ KB

In [26]:
rss_2010.head(30)

,"Table 4b. Reported Voting and Registration, by Sex, Race and Hispanic Origin, for States: November 2010",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"(Population 18 years and older, in thousands)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE,NaN,Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error1,Percent registered\n(Citizen),Margin of Error1,Total voted,Percent voted\n(Total),Margin of Error1,Percent voted\n(Citizen),Margin of Error1
2,US,Total,229690,210800,137263,59.8,0.3,65.1,0.3,95987,41.8,0.3,45.5,0.3
3,NaN,Male,111098,101279,64337,57.9,0.4,63.5,0.4,45392,40.9,0.4,44.8,0.4
4,NaN,Female,118592,109521,72926,61.5,0.4,66.6,0.4,50595,42.7,0.4,46.2,0.4
5,NaN,White alone,185804,172447,114482,61.6,0.3,66.4,0.3,80554,43.4,0.3,46.7,0.3
6,NaN,White non-Hispanic alone,155680,152929,104316,67,0.3,68.2,0.3,74372,47.8,0.4,48.6,0.4
7,NaN,Black alone,27396,25632,16101,58.8,1,62.8,1,11149,40.7,1,43.5,1.1
8,NaN,Asian alone,11049,7639,3765,34.1,1.6,49.3,2,2354,21.3,1.4,30.8,1.9
9,NaN,Hispanic (of any race),32457,21285,10982,33.8,1.2,51.6,1.5,6646,20.5,1,31.2,1.4
10,NaN,White alone or in combination,188616,175090,116115,61.6,0.3,66.3,0.3,81614,43.3,0.3,46.6,0.3
11,NaN,Black alone or in combination,28414,26602,16684,58.7,1,62.7,1,11498,40.5,1,43.2,1
12,NaN,Asian alone or in combination,11679,8246,4136,35.4,1.6,50.2,2,2615,22.4,1.4,31.7,1.8
13,ALABAMA,Total,3526,3420,2224,63.1,2.4,65,2.4,1509,42.8,2.5,44.1,2.5
14,NaN,Male,1652,1580,989,59.8,3.6,62.6,3.6,664,40.2,3.6,42,3.7
15,NaN,Female,1873,1840,1235,65.9,3.2,67.1,3.2,845,45.1,3.4,45.9,3.4
16,NaN,White alone,2611,2521,1612,61.7,2.8,64,2.8,1097,42,2.8,43.5,2.9
17,NaN,White non-Hispanic alone,2485,2471,1595,64.2,2.8,64.5,2.8,1086,43.7,2.9,44,2.9
18,NaN,Black alone,868,868,599,69,5.6,69,5.6,403,46.4,6,46.4,6
19,NaN,Asian alone,31,16,4,(B),(B),(B),(B),4,(B),(B),(B),(B)
20,NaN,Hispanic (of any race),142,65,34,23.6,16.5,51.2,28.6,14,10.2,11.7,22.1,23.8
21,NaN,White alone or in combination,2621,2531,1616,61.6,2.8,63.8,2.8,1097,41.9,2.8,43.4,2.9
22,NaN,Black alone or in combination,868,868,599,69,5.6,69,5.6,403,46.4,6,46.4,6
23,NaN,Asian alone or in combination,38,23,4,(B),(B),(B),(B),4,(B),(B),(B),(B)
24,ALASKA,Total,498,478,317,63.8,2.5,66.4,2.6,242,48.6,2.6,50.7,2.7
25,NaN,Male,252,243,161,64.1,3.6,66.3,3.6,127,50.4,3.7,52.1,3.8
26,NaN,Female,246,235,156,63.4,3.6,66.6,3.6,115,46.8,3.8,49.2,3.9
27,NaN,White alone,385,375,262,68.2,2.8,70,2.8,209,54.3,3,55.7,3
28,NaN,White non-Hispanic alone,364,357,253,69.3,2.9,70.7,2.8,202,55.3,3.1,56.5,3.1
29,NaN,Black alone,24,24,13,(B),(B),(B),(B),7,(B),(B),(B),(B)

In [27]:
#bottom of table contains some (un)helpful info that should have been in a readme file. 

rss_2010.tail()

,"Table 4b. Reported Voting and Registration, by Sex, Race and Hispanic Origin, for States: November 2010",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
579,Federal surveys now give respondents the optio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,A dash '-' represents zero or rounds to zero.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,The symbol (B) means that the base is less tha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN