In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline

In [2]:
#need to make sure you keep all of your source data close at hand so you can cite your sources....

reading in my data on elections from 1976..each table represents data for the named elections from the years in the comments

In [3]:
#US House 1976-2018
house = pd.read_csv('../data/1976-2018-house3.csv')

In [4]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29636 entries, 0 to 29635
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            29636 non-null  int64
 1   state           29636 non-null  object
 2   state_po        29636 non-null  object
 3   state_fips      29636 non-null  int64
 4   state_cen       29636 non-null  int64
 5   state_ic        29636 non-null  int64
 6   office          29636 non-null  object
 7   district        29636 non-null  int64
 8   stage           29606 non-null  object
 9   runoff          20980 non-null  object
 10  special         29636 non-null  bool
 11  candidate       27516 non-null  object
 12  party           26214 non-null  object
 13  writein         29636 non-null  bool
 14  mode            29636 non-null  object
 15  candidatevotes  29636 non-null  int64
 16  totalvotes      29636 non-null  int64
 17  unofficial      29636 non-null  bool
 18  version         29636 non-null  int64
 19  fusion_ticket   29636 non-null  bool
dtypes: bool(4), int64(8), object(8)
memory usage: 3.7+ MB

In [5]:
house.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
0,1976,ALABAMA,AL,1,63,41,US HOUSE,1,gen,False,False,BILL DAVENPORT,DEMOCRAT,False,TOTAL,58906,157170,False,20201202,False
1,1976,ALABAMA,AL,1,63,41,US HOUSE,1,gen,False,False,JACK EDWARDS,REPUBLICAN,False,TOTAL,98257,157170,False,20201202,False
2,1976,ALABAMA,AL,1,63,41,US HOUSE,1,gen,False,False,NaN,NaN,True,TOTAL,7,157170,False,20201202,False
3,1976,ALABAMA,AL,1,63,41,US HOUSE,2,gen,False,False,J. CAROLE KEAHEY,DEMOCRAT,False,TOTAL,66288,156362,False,20201202,False
4,1976,ALABAMA,AL,1,63,41,US HOUSE,2,gen,False,False,NaN,NaN,True,TOTAL,5,156362,False,20201202,False

In [6]:
house.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
29631,2018,MARYLAND,MD,24,52,52,US HOUSE,7,gen,NaN,False,NaN,NaN,True,TOTAL,272,264710,False,20201202,False
29632,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,JAMIE RASKIN,DEMOCRAT,False,TOTAL,217679,319330,False,20201202,False
29633,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,JASEN WUNDER,LIBERTARIAN,False,TOTAL,4853,319330,False,20201202,False
29634,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,JOHN WALSH,REPUBLICAN,False,TOTAL,96525,319330,False,20201202,False
29635,2018,MARYLAND,MD,24,52,52,US HOUSE,8,gen,NaN,False,NaN,NaN,True,TOTAL,273,319330,False,20201202,False

In [7]:
#US Senate 1976-2020
senate = pd.read_csv('../data/1976-2020-senate.csv')

In [8]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3629 entries, 0 to 3628
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              3629 non-null   int64
 1   state             3629 non-null   object
 2   state_po          3629 non-null   object
 3   state_fips        3629 non-null   int64
 4   state_cen         3629 non-null   int64
 5   state_ic          3629 non-null   int64
 6   office            3629 non-null   object
 7   district          3629 non-null   object
 8   stage             3629 non-null   object
 9   special           3629 non-null   bool
 10  candidate         3206 non-null   object
 11  party_detailed    3030 non-null   object
 12  writein           3629 non-null   bool
 13  mode              3629 non-null   object
 14  candidatevotes    3629 non-null   int64
 15  totalvotes        3629 non-null   int64
 16  unofficial        3629 non-null   bool
 17  version           3629 non-null   int64
 18  party_simplified  3629 non-null   object
dtypes: bool(3), int64(7), object(9)
memory usage: 464.4+ KB

In [9]:
senate.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party_detailed,writein,mode,candidatevotes,totalvotes,unofficial,version,party_simplified
0,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,SAM STEIGER,REPUBLICAN,False,total,321236,741210,False,20210114,REPUBLICAN
1,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,WM. MATHEWS FEIGHAN,INDEPENDENT,False,total,1565,741210,False,20210114,OTHER
2,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,DENNIS DECONCINI,DEMOCRAT,False,total,400334,741210,False,20210114,DEMOCRAT
3,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,ALLAN NORWITZ,LIBERTARIAN,False,total,7310,741210,False,20210114,LIBERTARIAN
4,1976,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,BOB FIELD,INDEPENDENT,False,total,10765,741210,False,20210114,OTHER

In [10]:
senate.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party_detailed,writein,mode,candidatevotes,totalvotes,unofficial,version,party_simplified
3624,2020,WYOMING,WY,56,83,68,US SENATE,statewide,gen,False,UNDER VOTES,NaN,False,total,6401,278503,False,20210114,OTHER
3625,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,KELLY LOEFFLER,REPUBLICAN,False,total,2194848,4483294,True,20210114,REPUBLICAN
3626,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,RAPHAEL WARNOCK,DEMOCRAT,False,total,2288446,4483294,True,20210114,DEMOCRAT
3627,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,DAVID A. PERDUE,REPUBLICAN,False,total,2213979,4483241,True,20210114,REPUBLICAN
3628,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,JON OSSOFF,DEMOCRAT,False,total,2269262,4483241,True,20210114,DEMOCRAT

In [11]:
#US president 1976-2020
president = pd.read_csv('../data/1976-2020-president.csv')

In [12]:
president.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4287 entries, 0 to 4286
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              4287 non-null   int64
 1   state             4287 non-null   object
 2   state_po          4287 non-null   object
 3   state_fips        4287 non-null   int64
 4   state_cen         4287 non-null   int64
 5   state_ic          4287 non-null   int64
 6   office            4287 non-null   object
 7   candidate         4000 non-null   object
 8   party_detailed    3831 non-null   object
 9   writein           4284 non-null   object
 10  candidatevotes    4287 non-null   int64
 11  totalvotes        4287 non-null   int64
 12  version           4287 non-null   int64
 13  notes             0 non-null      float64
 14  party_simplified  4287 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 502.5+ KB

In [13]:
president.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [14]:
president.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
4282,2020,WYOMING,WY,56,83,68,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,20210113,NaN,LIBERTARIAN
4283,2020,WYOMING,WY,56,83,68,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,20210113,NaN,OTHER
4284,2020,WYOMING,WY,56,83,68,US PRESIDENT,NaN,NaN,True,1739,278503,20210113,NaN,OTHER
4285,2020,WYOMING,WY,56,83,68,US PRESIDENT,OVERVOTES,NaN,False,279,278503,20210113,NaN,OTHER
4286,2020,WYOMING,WY,56,83,68,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,20210113,NaN,OTHER

In [15]:
#county returns president 2000-2016
county_pres = pd.read_csv('../data/countypres_2000-2016.csv')

In [16]:
county_pres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50524 entries, 0 to 50523
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            50524 non-null  int64
 1   state           50524 non-null  object
 2   state_po        50460 non-null  object
 3   county          50524 non-null  object
 4   FIPS            50476 non-null  float64
 5   office          50524 non-null  object
 6   candidate       50524 non-null  object
 7   party           34735 non-null  object
 8   candidatevotes  50120 non-null  float64
 9   totalvotes      50524 non-null  int64
 10  version         50524 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.2+ MB

In [17]:
county_pres.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [18]:
county_pres.tail()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

reading in census data for elections by year

In [46]:
reg_sex_state_2010 = pd.read_excel('../data/registration_race_sex_state_2010.xls',header = 2)

In [47]:
#this is going to need some cleaning....cool.
reg_sex_state_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE                         59 non-null     object
 1   Unnamed: 1                    572 non-null    object
 2   Total Population              572 non-null    float64
 3   Total Citizen Population      572 non-null    object
 4   Total registered              572 non-null    object
 5   Percent registered
(Total)    572 non-null    object
 6   Margin of Error1              572 non-null    object
 7   Percent registered
(Citizen)  572 non-null    object
 8   Margin of Error1.1            572 non-null    object
 9   Total voted                   572 non-null    object
 10  Percent voted
(Total)         572 non-null    object
 11  Margin of Error1.2            572 non-null    object
 12  Percent voted
(Citizen)       572 non-null    object
 13  Margin of Error1.3            572 non-null    object
dtypes: float64(1), object(13)
memory usage: 63.8+ KB

In [48]:
#population of 18yo +in thousands 

reg_sex_state_2010.head(15)

,STATE,Unnamed: 1,Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error1,Percent registered\n(Citizen),Margin of Error1.1,Total voted,Percent voted\n(Total),Margin of Error1.2,Percent voted\n(Citizen),Margin of Error1.3
0,US,Total,229690.0,210800,137263,59.8,0.3,65.1,0.3,95987,41.8,0.3,45.5,0.3
1,NaN,Male,111098.0,101279,64337,57.9,0.4,63.5,0.4,45392,40.9,0.4,44.8,0.4
2,NaN,Female,118592.0,109521,72926,61.5,0.4,66.6,0.4,50595,42.7,0.4,46.2,0.4
3,NaN,White alone,185804.0,172447,114482,61.6,0.3,66.4,0.3,80554,43.4,0.3,46.7,0.3
4,NaN,White non-Hispanic alone,155680.0,152929,104316,67,0.3,68.2,0.3,74372,47.8,0.4,48.6,0.4
5,NaN,Black alone,27396.0,25632,16101,58.8,1,62.8,1,11149,40.7,1,43.5,1.1
6,NaN,Asian alone,11049.0,7639,3765,34.1,1.6,49.3,2,2354,21.3,1.4,30.8,1.9
7,NaN,Hispanic (of any race),32457.0,21285,10982,33.8,1.2,51.6,1.5,6646,20.5,1,31.2,1.4
8,NaN,White alone or in combination,188616.0,175090,116115,61.6,0.3,66.3,0.3,81614,43.3,0.3,46.6,0.3
9,NaN,Black alone or in combination,28414.0,26602,16684,58.7,1,62.7,1,11498,40.5,1,43.2,1
10,NaN,Asian alone or in combination,11679.0,8246,4136,35.4,1.6,50.2,2,2615,22.4,1.4,31.7,1.8
11,ALABAMA,Total,3526.0,3420,2224,63.1,2.4,65,2.4,1509,42.8,2.5,44.1,2.5
12,NaN,Male,1652.0,1580,989,59.8,3.6,62.6,3.6,664,40.2,3.6,42,3.7
13,NaN,Female,1873.0,1840,1235,65.9,3.2,67.1,3.2,845,45.1,3.4,45.9,3.4
14,NaN,White alone,2611.0,2521,1612,61.7,2.8,64,2.8,1097,42,2.8,43.5,2.9

In [22]:
#bottom of table contains some (un)helpful info that should have been in a readme file. 

reg_sex_state_2010.tail(100)

,STATE,Unnamed: 1,Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error1,Percent registered\n(Citizen),Margin of Error1.1,Total voted,Percent voted\n(Total),Margin of Error1.2,Percent voted\n(Citizen),Margin of Error1.3
482,NaN,Black alone or in combination,722.0,672,415,57.4,6.7,61.7,6.8,242,33.5,6.4,36,6.7
483,NaN,Asian alone or in combination,77.0,45,13,17.4,16.3,29.7,25.7,6,8.3,11.9,14.2,19.7
484,TEXAS,Total,17847.0,15403,9493,53.2,1.1,61.6,1.2,5600,31.4,1,36.4,1.2
485,NaN,Male,8742.0,7430,4438,50.8,1.6,59.7,1.7,2631,30.1,1.5,35.4,1.7
486,NaN,Female,9105.0,7973,5054,55.5,1.6,63.4,1.6,2969,32.6,1.5,37.2,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Federal surveys now give respondents the optio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,A dash '-' represents zero or rounds to zero.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,The symbol (B) means that the base is less tha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#tx voting population 18years+

tx_reg_2010 = pd.concat([reg_sex_state_2010.iloc[:11,:],reg_sex_state_2010.iloc[484:495,:]],axis = 0)

I messed around with the code below trying to set the header...until I found an argument to put into the read_excel function...which I thought worked like a dream but it's currently not working the way I want every time I load it...must be something with my notebook

In [24]:


#tx voting population 18years+

# tx_reg_2010.columns = tx_reg_2010.iloc[1]
# tx_reg_clean = tx_reg_2010.drop(tx_reg_2010.index[1], axis = 0)

# tx_reg_2010.drop(tx_reg_2010.iloc[:1,:], axis = 0)

In [25]:
tx_reg_2010 = tx_reg_2010.rename(columns = {'Unnamed: 1': 'Race/Gender'})

In [26]:
tx_reg_2010

,STATE,Race/Gender,Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error1,Percent registered\n(Citizen),Margin of Error1.1,Total voted,Percent voted\n(Total),Margin of Error1.2,Percent voted\n(Citizen),Margin of Error1.3
0,US,Total,229690.0,210800,137263,59.8,0.3,65.1,0.3,95987,41.8,0.3,45.5,0.3
1,NaN,Male,111098.0,101279,64337,57.9,0.4,63.5,0.4,45392,40.9,0.4,44.8,0.4
2,NaN,Female,118592.0,109521,72926,61.5,0.4,66.6,0.4,50595,42.7,0.4,46.2,0.4
3,NaN,White alone,185804.0,172447,114482,61.6,0.3,66.4,0.3,80554,43.4,0.3,46.7,0.3
4,NaN,White non-Hispanic alone,155680.0,152929,104316,67,0.3,68.2,0.3,74372,47.8,0.4,48.6,0.4
5,NaN,Black alone,27396.0,25632,16101,58.8,1,62.8,1,11149,40.7,1,43.5,1.1
6,NaN,Asian alone,11049.0,7639,3765,34.1,1.6,49.3,2,2354,21.3,1.4,30.8,1.9
7,NaN,Hispanic (of any race),32457.0,21285,10982,33.8,1.2,51.6,1.5,6646,20.5,1,31.2,1.4
8,NaN,White alone or in combination,188616.0,175090,116115,61.6,0.3,66.3,0.3,81614,43.3,0.3,46.6,0.3
9,NaN,Black alone or in combination,28414.0,26602,16684,58.7,1,62.7,1,11498,40.5,1,43.2,1
10,NaN,Asian alone or in combination,11679.0,8246,4136,35.4,1.6,50.2,2,2615,22.4,1.4,31.7,1.8
484,TEXAS,Total,17847.0,15403,9493,53.2,1.1,61.6,1.2,5600,31.4,1,36.4,1.2
485,NaN,Male,8742.0,7430,4438,50.8,1.6,59.7,1.7,2631,30.1,1.5,35.4,1.7
486,NaN,Female,9105.0,7973,5054,55.5,1.6,63.4,1.6,2969,32.6,1.5,37.2,1.6
487,NaN,White alone,14741.0,12609,7858,53.3,1.2,62.3,1.3,4631,31.4,1.2,36.7,1.3
488,NaN,White non-Hispanic alone,8452.0,8329,5571,65.9,1.6,66.9,1.6,3645,43.1,1.6,43.8,1.6
489,NaN,Black alone,2060.0,1993,1242,60.3,3.9,62.3,4,770,37.4,3.9,38.7,4
490,NaN,Asian alone,798.0,567,262,32.9,6.3,46.3,8,126,15.8,4.9,22.2,6.7
491,NaN,Hispanic (of any race),6403.0,4376,2334,36.5,2.9,53.3,3.6,1012,15.8,2.2,23.1,3
492,NaN,White alone or in combination,14914.0,12774,7966,53.4,1.2,62.4,1.3,4697,31.5,1.1,36.8,1.3
493,NaN,Black alone or in combination,2114.0,2047,1252,59.2,3.9,61.2,3.9,773,36.5,3.8,37.7,3.9
494,NaN,Asian alone or in combination,802.0,572,267,33.3,6.3,46.7,8,131,16.3,5,22.9,6.7

In [27]:
###Not sure I'm going to use all of above but I have it....

reading in TX County Census data 2010-2019

first age data:

In [28]:
tx_census_age = pd.read_csv('../data/TX_county_census_data.csv')

In [29]:
tx_census_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3048 entries, 0 to 3047
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUMLEV           3048 non-null   int64
 1   STATE            3048 non-null   int64
 2   COUNTY           3048 non-null   int64
 3   STNAME           3048 non-null   object
 4   CTYNAME          3048 non-null   object
 5   YEAR             3048 non-null   int64
 6   POPESTIMATE      3048 non-null   int64
 7   POPEST_MALE      3048 non-null   int64
 8   POPEST_FEM       3048 non-null   int64
 9   UNDER5_TOT       3048 non-null   int64
 10  UNDER5_MALE      3048 non-null   int64
 11  UNDER5_FEM       3048 non-null   int64
 12  AGE513_TOT       3048 non-null   int64
 13  AGE513_MALE      3048 non-null   int64
 14  AGE513_FEM       3048 non-null   int64
 15  AGE1417_TOT      3048 non-null   int64
 16  AGE1417_MALE     3048 non-null   int64
 17  AGE1417_FEM      3048 non-null   int64
 18  AGE1824_TOT      3048 non-null   int64
 19  AGE1824_MALE     3048 non-null   int64
 20  AGE1824_FEM      3048 non-null   int64
 21  AGE16PLUS_TOT    3048 non-null   int64
 22  AGE16PLUS_MALE   3048 non-null   int64
 23  AGE16PLUS_FEM    3048 non-null   int64
 24  AGE18PLUS_TOT    3048 non-null   int64
 25  AGE18PLUS_MALE   3048 non-null   int64
 26  AGE18PLUS_FEM    3048 non-null   int64
 27  AGE1544_TOT      3048 non-null   int64
 28  AGE1544_MALE     3048 non-null   int64
 29  AGE1544_FEM      3048 non-null   int64
 30  AGE2544_TOT      3048 non-null   int64
 31  AGE2544_MALE     3048 non-null   int64
 32  AGE2544_FEM      3048 non-null   int64
 33  AGE4564_TOT      3048 non-null   int64
 34  AGE4564_MALE     3048 non-null   int64
 35  AGE4564_FEM      3048 non-null   int64
 36  AGE65PLUS_TOT    3048 non-null   int64
 37  AGE65PLUS_MALE   3048 non-null   int64
 38  AGE65PLUS_FEM    3048 non-null   int64
 39  AGE04_TOT        3048 non-null   int64
 40  AGE04_MALE       3048 non-null   int64
 41  AGE04_FEM        3048 non-null   int64
 42  AGE59_TOT        3048 non-null   int64
 43  AGE59_MALE       3048 non-null   int64
 44  AGE59_FEM        3048 non-null   int64
 45  AGE1014_TOT      3048 non-null   int64
 46  AGE1014_MALE     3048 non-null   int64
 47  AGE1014_FEM      3048 non-null   int64
 48  AGE1519_TOT      3048 non-null   int64
 49  AGE1519_MALE     3048 non-null   int64
 50  AGE1519_FEM      3048 non-null   int64
 51  AGE2024_TOT      3048 non-null   int64
 52  AGE2024_MALE     3048 non-null   int64
 53  AGE2024_FEM      3048 non-null   int64
 54  AGE2529_TOT      3048 non-null   int64
 55  AGE2529_MALE     3048 non-null   int64
 56  AGE2529_FEM      3048 non-null   int64
 57  AGE3034_TOT      3048 non-null   int64
 58  AGE3034_MALE     3048 non-null   int64
 59  AGE3034_FEM      3048 non-null   int64
 60  AGE3539_TOT      3048 non-null   int64
 61  AGE3539_MALE     3048 non-null   int64
 62  AGE3539_FEM      3048 non-null   int64
 63  AGE4044_TOT      3048 non-null   int64
 64  AGE4044_MALE     3048 non-null   int64
 65  AGE4044_FEM      3048 non-null   int64
 66  AGE4549_TOT      3048 non-null   int64
 67  AGE4549_MALE     3048 non-null   int64
 68  AGE4549_FEM      3048 non-null   int64
 69  AGE5054_TOT      3048 non-null   int64
 70  AGE5054_MALE     3048 non-null   int64
 71  AGE5054_FEM      3048 non-null   int64
 72  AGE5559_TOT      3048 non-null   int64
 73  AGE5559_MALE     3048 non-null   int64
 74  AGE5559_FEM      3048 non-null   int64
 75  AGE6064_TOT      3048 non-null   int64
 76  AGE6064_MALE     3048 non-null   int64
 77  AGE6064_FEM      3048 non-null   int64
 78  AGE6569_TOT      3048 non-null   int64
 79  AGE6569_MALE     3048 non-null   int64
 80  AGE6569_FEM      3048 non-null   int64
 81  AGE7074_TOT      3048 non-null   int64
 82  AGE7074_MALE     3048 non-null   int64
 83  AGE7074_FEM      3048 non-null   int64
 84  AGE7579_TOT      3048 non-null   int64
 85  AGE7579_MALE     3048 non-null   int64
 86  AGE7579_FEM      3048 non-null   int64
 87  AGE8084_TOT      3048 non-null   int64
 88  AGE8084_MALE     3048 non-null   int64
 89  AGE8084_FEM      3048 non-null   int64
 90  AGE85PLUS_TOT    3048 non-null   int64
 91  AGE85PLUS_MALE   3048 non-null   int64
 92  AGE85PLUS_FEM    3048 non-null   int64
 93  MEDIAN_AGE_TOT   3048 non-null   float64
 94  MEDIAN_AGE_MALE  3048 non-null   float64
 95  MEDIAN_AGE_FEM   3048 non-null   float64
dtypes: float64(3), int64(91), object(2)
memory usage: 2.2+ MB

In [30]:
tx_census_age.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,48,1,Texas,Anderson County,1,58458,35521,22937,3135,...,757,898,349,549,865,298,567,39.1,38.8,39.9
1,50,48,1,Texas,Anderson County,2,58452,35518,22934,3135,...,758,897,349,548,865,298,567,39.1,38.8,39.9
2,50,48,1,Texas,Anderson County,3,58493,35542,22951,3129,...,758,903,358,545,864,301,563,39.1,38.8,39.9
3,50,48,1,Texas,Anderson County,4,58394,35586,22808,3105,...,751,916,368,548,842,294,548,39.1,38.7,40.2
4,50,48,1,Texas,Anderson County,5,58059,35327,22732,2999,...,780,942,389,553,851,302,549,39.2,38.7,40.5

In [31]:
tx_census_age.tail()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
3043,50,48,507,Texas,Zavala County,8,12310,6211,6099,1050,...,141,210,79,131,215,89,126,30.4,28.5,32.4
3044,50,48,507,Texas,Zavala County,9,12121,6126,5995,1001,...,136,200,77,123,217,91,126,30.6,28.9,32.5
3045,50,48,507,Texas,Zavala County,10,11957,6051,5906,946,...,141,194,81,113,217,89,128,31.1,29.5,32.9
3046,50,48,507,Texas,Zavala County,11,11969,6051,5918,911,...,154,192,77,115,210,86,124,31.0,29.5,32.7
3047,50,48,507,Texas,Zavala County,12,11840,6028,5812,847,...,171,191,82,109,200,76,124,31.4,29.7,33.4

In [32]:
#tried all of the below to drop columns which didn't work but I finally found something that did...

tx_age = pd.concat([tx_census_age.iloc[:,:9],tx_census_age.iloc[:,18:21],tx_census_age.iloc[:,24:27],
                  tx_census_age.iloc[:,36:39],tx_census_age.iloc[:,90:]],axis = 1)

# tx_census_age.drop(tx_census_age.columns[[1]], axis = 1)
# tx_age = tx_census_age.drop(list(range(9,19)), axis = 1)

# tx_census_age.drop(tx_census_age.iloc[:,21:23], axis = 1)
# tx_census_age.drop(tx_census_age.iloc[:,28:35], axis = 1)
# tx_census_age.drop(tx_census_age.iloc[:,38:77], inplace = True, axis = 1)

In [33]:
tx_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3048 entries, 0 to 3047
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUMLEV           3048 non-null   int64
 1   STATE            3048 non-null   int64
 2   COUNTY           3048 non-null   int64
 3   STNAME           3048 non-null   object
 4   CTYNAME          3048 non-null   object
 5   YEAR             3048 non-null   int64
 6   POPESTIMATE      3048 non-null   int64
 7   POPEST_MALE      3048 non-null   int64
 8   POPEST_FEM       3048 non-null   int64
 9   AGE1824_TOT      3048 non-null   int64
 10  AGE1824_MALE     3048 non-null   int64
 11  AGE1824_FEM      3048 non-null   int64
 12  AGE18PLUS_TOT    3048 non-null   int64
 13  AGE18PLUS_MALE   3048 non-null   int64
 14  AGE18PLUS_FEM    3048 non-null   int64
 15  AGE65PLUS_TOT    3048 non-null   int64
 16  AGE65PLUS_MALE   3048 non-null   int64
 17  AGE65PLUS_FEM    3048 non-null   int64
 18  AGE85PLUS_TOT    3048 non-null   int64
 19  AGE85PLUS_MALE   3048 non-null   int64
 20  AGE85PLUS_FEM    3048 non-null   int64
 21  MEDIAN_AGE_TOT   3048 non-null   float64
 22  MEDIAN_AGE_MALE  3048 non-null   float64
 23  MEDIAN_AGE_FEM   3048 non-null   float64
dtypes: float64(3), int64(19), object(2)
memory usage: 571.6+ KB

In [34]:
tx_age

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,AGE1824_TOT,...,AGE18PLUS_FEM,AGE65PLUS_TOT,AGE65PLUS_MALE,AGE65PLUS_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,48,1,Texas,Anderson County,1,58458,35521,22937,4695,...,17349,7338,3391,3947,865,298,567,39.1,38.8,39.9
1,50,48,1,Texas,Anderson County,2,58452,35518,22934,4695,...,17347,7339,3392,3947,865,298,567,39.1,38.8,39.9
2,50,48,1,Texas,Anderson County,3,58493,35542,22951,4703,...,17376,7374,3417,3957,864,301,563,39.1,38.8,39.9
3,50,48,1,Texas,Anderson County,4,58394,35586,22808,4698,...,17254,7427,3444,3983,842,294,548,39.1,38.7,40.2
4,50,48,1,Texas,Anderson County,5,58059,35327,22732,4636,...,17230,7653,3550,4103,851,302,549,39.2,38.7,40.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,50,48,507,Texas,Zavala County,8,12310,6211,6099,1515,...,4247,1617,701,916,215,89,126,30.4,28.5,32.4
3044,50,48,507,Texas,Zavala County,9,12121,6126,5995,1475,...,4176,1633,718,915,217,91,126,30.6,28.9,32.5
3045,50,48,507,Texas,Zavala County,10,11957,6051,5906,1433,...,4168,1659,741,918,217,89,128,31.1,29.5,32.9
3046,50,48,507,Texas,Zavala County,11,11969,6051,5918,1413,...,4180,1690,751,939,210,86,124,31.0,29.5,32.7
3047,50,48,507,Texas,Zavala County,12,11840,6028,5812,1418,...,4180,1723,768,955,200,76,124,31.4,29.7,33.4

reading TX census race data

In [35]:
tx_census_race = pd.read_csv('../data/TX_age_sex_race.csv')

I'm including these for my own use:


The key for the YEAR variable is as follows:
1 = 4/1/2010 Census population
2 = 4/1/2010 population estimates base
3 = 7/1/2010 population estimate
4 = 7/1/2011 population estimate
5 = 7/1/2012 population estimate
6 = 7/1/2013 population estimate
7 = 7/1/2014 population estimate
8 = 7/1/2015 population estimate
9 = 7/1/2016 population estimate
10 = 7/1/2017 population estimate
11 = 7/1/2018 population estimate
12 = 7/1/2019 population estimate


The key for AGEGRP is as follows:
0 = Total
1 = Age 0 to 4 years
2 = Age 5 to 9 years
3 = Age 10 to 14 years
4 = Age 15 to 19 years
5 = Age 20 to 24 years
6 = Age 25 to 29 years
7 = Age 30 to 34 years
8 = Age 35 to 39 years
9 = Age 40 to 44 years
10 = Age 45 to 49 years
11 = Age 50 to 54 years
12 = Age 55 to 59 years
13 = Age 60 to 64 years
14 = Age 65 to 69 years
15 = Age 70 to 74 years
16 = Age 75 to 79 years
17 = Age 80 to 84 years
18 = Age 85 years or older

In [36]:
tx_census_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57912 entries, 0 to 57911
Data columns (total 80 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SUMLEV        57912 non-null  int64
 1   STATE         57912 non-null  int64
 2   COUNTY        57912 non-null  int64
 3   STNAME        57912 non-null  object
 4   CTYNAME       57912 non-null  object
 5   YEAR          57912 non-null  int64
 6   AGEGRP        57912 non-null  int64
 7   TOT_POP       57912 non-null  int64
 8   TOT_MALE      57912 non-null  int64
 9   TOT_FEMALE    57912 non-null  int64
 10  WA_MALE       57912 non-null  int64
 11  WA_FEMALE     57912 non-null  int64
 12  BA_MALE       57912 non-null  int64
 13  BA_FEMALE     57912 non-null  int64
 14  IA_MALE       57912 non-null  int64
 15  IA_FEMALE     57912 non-null  int64
 16  AA_MALE       57912 non-null  int64
 17  AA_FEMALE     57912 non-null  int64
 18  NA_MALE       57912 non-null  int64
 19  NA_FEMALE     57912 non-null  int64
 20  TOM_MALE      57912 non-null  int64
 21  TOM_FEMALE    57912 non-null  int64
 22  WAC_MALE      57912 non-null  int64
 23  WAC_FEMALE    57912 non-null  int64
 24  BAC_MALE      57912 non-null  int64
 25  BAC_FEMALE    57912 non-null  int64
 26  IAC_MALE      57912 non-null  int64
 27  IAC_FEMALE    57912 non-null  int64
 28  AAC_MALE      57912 non-null  int64
 29  AAC_FEMALE    57912 non-null  int64
 30  NAC_MALE      57912 non-null  int64
 31  NAC_FEMALE    57912 non-null  int64
 32  NH_MALE       57912 non-null  int64
 33  NH_FEMALE     57912 non-null  int64
 34  NHWA_MALE     57912 non-null  int64
 35  NHWA_FEMALE   57912 non-null  int64
 36  NHBA_MALE     57912 non-null  int64
 37  NHBA_FEMALE   57912 non-null  int64
 38  NHIA_MALE     57912 non-null  int64
 39  NHIA_FEMALE   57912 non-null  int64
 40  NHAA_MALE     57912 non-null  int64
 41  NHAA_FEMALE   57912 non-null  int64
 42  NHNA_MALE     57912 non-null  int64
 43  NHNA_FEMALE   57912 non-null  int64
 44  NHTOM_MALE    57912 non-null  int64
 45  NHTOM_FEMALE  57912 non-null  int64
 46  NHWAC_MALE    57912 non-null  int64
 47  NHWAC_FEMALE  57912 non-null  int64
 48  NHBAC_MALE    57912 non-null  int64
 49  NHBAC_FEMALE  57912 non-null  int64
 50  NHIAC_MALE    57912 non-null  int64
 51  NHIAC_FEMALE  57912 non-null  int64
 52  NHAAC_MALE    57912 non-null  int64
 53  NHAAC_FEMALE  57912 non-null  int64
 54  NHNAC_MALE    57912 non-null  int64
 55  NHNAC_FEMALE  57912 non-null  int64
 56  H_MALE        57912 non-null  int64
 57  H_FEMALE      57912 non-null  int64
 58  HWA_MALE      57912 non-null  int64
 59  HWA_FEMALE    57912 non-null  int64
 60  HBA_MALE      57912 non-null  int64
 61  HBA_FEMALE    57912 non-null  int64
 62  HIA_MALE      57912 non-null  int64
 63  HIA_FEMALE    57912 non-null  int64
 64  HAA_MALE      57912 non-null  int64
 65  HAA_FEMALE    57912 non-null  int64
 66  HNA_MALE      57912 non-null  int64
 67  HNA_FEMALE    57912 non-null  int64
 68  HTOM_MALE     57912 non-null  int64
 69  HTOM_FEMALE   57912 non-null  int64
 70  HWAC_MALE     57912 non-null  int64
 71  HWAC_FEMALE   57912 non-null  int64
 72  HBAC_MALE     57912 non-null  int64
 73  HBAC_FEMALE   57912 non-null  int64
 74  HIAC_MALE     57912 non-null  int64
 75  HIAC_FEMALE   57912 non-null  int64
 76  HAAC_MALE     57912 non-null  int64
 77  HAAC_FEMALE   57912 non-null  int64
 78  HNAC_MALE     57912 non-null  int64
 79  HNAC_FEMALE   57912 non-null  int64
dtypes: int64(78), object(2)
memory usage: 35.3+ MB

In [49]:
tx_census_race.head(20)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,48,1,Texas,Anderson County,1,0,58458,35521,22937,...,5784,2707,321,129,182,88,188,34,82,28
1,50,48,1,Texas,Anderson County,1,1,3135,1566,1569,...,385,313,22,27,13,9,8,7,3,2
2,50,48,1,Texas,Anderson County,1,2,3258,1729,1529,...,375,324,17,16,12,11,1,7,9,5
3,50,48,1,Texas,Anderson County,1,3,3156,1573,1583,...,283,315,21,17,11,11,3,3,2,4
4,50,48,1,Texas,Anderson County,1,4,3107,1676,1431,...,324,255,7,12,11,13,4,1,2,2
5,50,48,1,Texas,Anderson County,1,5,3514,2184,1330,...,530,217,18,13,4,6,16,3,6,3
6,50,48,1,Texas,Anderson County,1,6,4389,3013,1376,...,728,211,44,5,13,3,45,2,12,2
7,50,48,1,Texas,Anderson County,1,7,4848,3540,1308,...,814,214,60,7,19,4,40,3,20,3
8,50,48,1,Texas,Anderson County,1,8,4718,3337,1381,...,607,212,42,5,28,11,24,3,7,2
9,50,48,1,Texas,Anderson County,1,9,4788,3430,1358,...,598,159,35,5,25,0,20,0,10,3
10,50,48,1,Texas,Anderson County,1,10,4940,3404,1536,...,426,144,32,2,24,4,19,0,9,2
11,50,48,1,Texas,Anderson County,1,11,4457,2830,1627,...,283,99,15,5,7,6,6,0,1,0
12,50,48,1,Texas,Anderson County,1,12,3794,2211,1583,...,170,85,4,5,4,4,1,1,1,0
13,50,48,1,Texas,Anderson County,1,13,3016,1637,1379,...,114,71,1,0,7,2,0,2,0,0
14,50,48,1,Texas,Anderson County,1,14,2434,1263,1171,...,77,35,0,7,1,1,0,0,0,0
15,50,48,1,Texas,Anderson County,1,15,1747,844,903,...,40,18,0,0,1,1,1,1,0,0
16,50,48,1,Texas,Anderson County,1,16,1394,637,757,...,22,19,2,2,1,0,0,0,0,0
17,50,48,1,Texas,Anderson County,1,17,898,349,549,...,5,7,1,1,0,2,0,1,0,0
18,50,48,1,Texas,Anderson County,1,18,865,298,567,...,3,9,0,0,1,0,0,0,0,0
19,50,48,1,Texas,Anderson County,2,0,58452,35518,22934,...,5784,2707,321,129,182,88,188,34,82,28

In [38]:
tx_census_race.tail()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
57907,50,48,507,Texas,Zavala County,12,14,565,272,293,...,244,263,3,1,4,4,1,1,1,1
57908,50,48,507,Texas,Zavala County,12,15,461,203,258,...,180,240,1,0,4,0,1,1,0,1
57909,50,48,507,Texas,Zavala County,12,16,306,135,171,...,118,153,0,0,0,2,0,0,0,0
57910,50,48,507,Texas,Zavala County,12,17,191,82,109,...,72,99,0,0,0,0,0,0,0,0
57911,50,48,507,Texas,Zavala County,12,18,200,76,124,...,66,112,0,0,1,0,0,1,0,0

In [39]:
#creating a table of the census race data I think I need:
tx_race = pd.concat([tx_census_race.iloc[:,:18],tx_census_race.iloc[:,24:26],tx_census_race.iloc[:,28:30],
                  tx_census_race.iloc[:,56:58]],axis = 1)

In [40]:
tx_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57912 entries, 0 to 57911
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SUMLEV      57912 non-null  int64
 1   STATE       57912 non-null  int64
 2   COUNTY      57912 non-null  int64
 3   STNAME      57912 non-null  object
 4   CTYNAME     57912 non-null  object
 5   YEAR        57912 non-null  int64
 6   AGEGRP      57912 non-null  int64
 7   TOT_POP     57912 non-null  int64
 8   TOT_MALE    57912 non-null  int64
 9   TOT_FEMALE  57912 non-null  int64
 10  WA_MALE     57912 non-null  int64
 11  WA_FEMALE   57912 non-null  int64
 12  BA_MALE     57912 non-null  int64
 13  BA_FEMALE   57912 non-null  int64
 14  IA_MALE     57912 non-null  int64
 15  IA_FEMALE   57912 non-null  int64
 16  AA_MALE     57912 non-null  int64
 17  AA_FEMALE   57912 non-null  int64
 18  BAC_MALE    57912 non-null  int64
 19  BAC_FEMALE  57912 non-null  int64
 20  AAC_MALE    57912 non-null  int64
 21  AAC_FEMALE  57912 non-null  int64
 22  H_MALE      57912 non-null  int64
 23  H_FEMALE    57912 non-null  int64
dtypes: int64(22), object(2)
memory usage: 10.6+ MB

In [41]:
tx_race.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,IA_MALE,IA_FEMALE,AA_MALE,AA_FEMALE,BAC_MALE,BAC_FEMALE,AAC_MALE,AAC_FEMALE,H_MALE,H_FEMALE
0,50,48,1,Texas,Anderson County,1,0,58458,35521,22937,...,219,141,245,171,9346,3633,357,224,6363,2924
1,50,48,1,Texas,Anderson County,1,1,3135,1566,1569,...,12,9,17,10,280,357,27,22,418,341
2,50,48,1,Texas,Anderson County,1,2,3258,1729,1529,...,14,6,15,16,312,294,22,23,404,348
3,50,48,1,Texas,Anderson County,1,3,3156,1573,1583,...,13,12,11,16,278,275,15,22,306,343
4,50,48,1,Texas,Anderson County,1,4,3107,1676,1431,...,13,15,5,6,336,253,10,10,345,280

In [42]:
tx_race.tail()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,IA_MALE,IA_FEMALE,AA_MALE,AA_FEMALE,BAC_MALE,BAC_FEMALE,AAC_MALE,AAC_FEMALE,H_MALE,H_FEMALE
57907,50,48,507,Texas,Zavala County,12,14,565,272,293,...,4,3,1,2,6,3,2,2,252,269
57908,50,48,507,Texas,Zavala County,12,15,461,203,258,...,3,0,1,1,1,0,2,2,184,241
57909,50,48,507,Texas,Zavala County,12,16,306,135,171,...,0,2,1,0,0,0,1,0,118,154
57910,50,48,507,Texas,Zavala County,12,17,191,82,109,...,1,0,0,0,1,0,0,0,72,99
57911,50,48,507,Texas,Zavala County,12,18,200,76,124,...,1,0,0,1,0,0,0,1,67,113